<title>Edit Product | Grocery Store</title>
<div class="container">
	<h1>Edit Product</h1>
		<%= simple_form_for @product, :html => { :multipart => true } do |f| %>
		  <%= f.input :title, label: "Product Name" %>
		  <%= f.input :price %>
		  <%= f.input :desc %>
		  <%= f.input :image_url %>
		  <br/>
		  <br/>
		  <%= f.button :submit %>
		<% end %>
	<%= link_to "Back", products_path, class:"btn btnRed" %>
</div>