   <% if user_signed_in? %>
        <% if current_user.admin? %>
            <%= link_to 'New Product', new_product_path, class:"btn btnRed right"%>
        <% end %>
  <% end %>
  <h1>Browse Products <span><p>Listing 9 of <%= @products.count%> products</p></span></h1>
  <div class="category">
    <li class="dropdown">
      <button class="dropdown-toggle" data-toggle="dropdown" href="#">Category
      <span class="caret"></span></button>
      <ul class="dropdown-menu" >
        <li class="text-center"><%= link_to "-- All Products --", products_path(@products)%></li>
        <% Category.all.each do|category| %>
        <li class="<%= 'active' if params[:category] == category.name %>">
          <%= link_to category.name, products_path(category: category.name)%>
        </li>
        <% end %>
      </ul>
    </li>
  </div>

  <div class="row">
    <% if @products.count ==0 %>
    <h3>There are no products currently in this category</h3>
    <% else %>
    <% @products.each do |product| %>
    <div class="col-sm-4 thumbnail text-center padding">
      <h3><%= product.title %></h3>
      <%= link_to (image_tag product.image_url, :style=> "height:150px"), product, class:"img-responsive"%>
      <div class="avg-rating" data-score="<%= @average_review %>"></div>
      <h3>€ <%= product.price %></h3>
      <%= link_to "View Product", product, class:"btn btnRed" %>
      <a href="#" class ="btn btnRed"> Add to Cart</a>
      <div class="row">
       <% if user_signed_in? %>
        <% if current_user.admin? %>
          <%= link_to 'Show', product, class:"btn btnRed" %>
          <%= link_to 'Edit', edit_product_path(product), class:"btn btnRed" %>
          <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btnRed" %>
          <% end %>
        <% end %>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>     
  <br>
  <div class="text-center">
  </div>

<script>
  $('.review-rating').raty({
    readOnly:true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>

<script>
 $('.avg-rating').raty({
    path: '/assets/',
    readOnly:true,
    score: function(){
      return($(this).attr('data-score'));
    }
  })

$('.avg-rating').raty('reload');
</script>