
  <p id="notice"><%= notice %></p>
  <h1>Products</h1>
  <div class="row">
    <% @products.each do |product| %>
    <div class="col-sm-4 thumbnail text-center padding">
      <h3><%= product.title %></h3>
      <%= link_to (image_tag product.image_url, :style=> "height:150px"), product, class:"img-responsive"%>
      <h3>€ <%= product.price %></h3>
      <h4><%= product.desc %></h4>
       <% if user_signed_in? %>
        <% if current_user.admin? %>
          <%= link_to 'Show', product, class:"btn btnRed" %>
          <%= link_to 'Edit', edit_product_path(product), class:"btn btnRed" %>
          <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btnRed" %>
          <% end %>
        <% end %>
    </div>
    <% end %>
  </div>     
  <br>
  <% if user_signed_in? %>
        <% if current_user.admin? %>
            <%= link_to 'New Product', new_product_path, class:"btn btnRed" %>
        <% end %>
  <% end %>
